EMAIL_USER=
EMAIL_PASS=
MYSQL_HOST=nutriplan-db-nutriplan-db.c.aivencloud.com
MYSQL_PORT=17627
MYSQL_USER=avnadmin
MYSQL_DATABASE=defaultdb
MYSQL_SSL_MODE=REQUIRED
MYSQL_SSL_CA_PATH=backend/aiven-ca.pem
MYSQL_PASSWORD=
