EMAIL_USER=
EMAIL_PASS=
MYSQL_HOST=nutriplan-db-nutriplan-db.c.aivencloud.com
MYSQL_PORT=17627
MYSQL_USER=avnadmin
MYSQL_DATABASE=defaultdb
MYSQL_SSL_MODE=REQUIRED
MYSQL_SSL_CA_PATH=./backend/aiven-ca.pem
MYSQL_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASS=

ADMIN_EMAIL=
ADMIN_PASS=
MYSQL_SSL_REJECT_UNAUTHORIZED=true
MYSQL_URI=
DATABASE_URL=
AIVEN_MYSQL_URI=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
SQLITE_DB_PATH=./backend/nutriplan.db
MIGRATE_TRUNCATE=false
